<h3 title="Click or press e to see the expressions of this compilation"><a href="#"><span class="accesskey">e</span>xpressions</a></h3>
<div id="terms" class="fact">
  <ul id="terms_list">
    <% for(i = 0; i < facts.terms.length; i++) { %>
        <li id="terms_<%=i%>" class="term"><%= facts.terms[i] %></li>
    <% } %>
  </ul>
    <div id="terms_tools" class="facts_tools">
        <div id="add_terms"  fact="terms">
            <input type="text" class="add" value="Add new terms..."/>
        </div>
        <div id="copy_terms" class="copy_to_clip">
            <label>Copy expressions</label>
            <input id="copy_terms_man" type="text" title="Expression list in Vedabase search format" />
            <span class="copy ui-icon ui-icon-clipboard" title="Copy expressions"></span>
        </div>
    </div>
</div>

<h3 title="Click or press c to see the categories of this compilation"><a href="#"><span class="accesskey">c</span>ategories</a></h3>
<div id="categories" class="fact">
  <ul id="categories_list">
    <% for(i = 0; i < facts.categories.length; i++) { %>
        <li id="categories_<%=i%>" class="categories"><%= facts.categories[i]%></li>
    <% } %>
  </ul>
    <div id="categories_tools" class="facts_tools">
        <div id="add_categories" fact="categories">
            <input type="text" class="add" value="Add new categories..."/>
        </div>
    </div>
</div>

<h3 title="Click or press g to see the goal of this compilation"><a href="#"><span class="accesskey">g</span>oal</a></h3>
<div id="goal" class="fact"><%= facts.goal %></div>

<h3 title="Click or press s to see the completed sections of this compilation"><a href="#">completed <span class="accesskey">s</span>ections</a></h3>
<div id="complete" class="fact">
    <% for(i = 0; i < facts.books.length; i++) { %>
        <div class="check_div">
          <label><%= facts.books[i] %></label><input type="checkbox" class="complete_checks" id="complete_<%= facts.books[i] %>"/>
        </div>
    <% } %>
    <div class="check_div"><label>ALL</label><input type="checkbox" class="complete_checks" id="complete_ALL"/></div>
</div>

<h3 title="Click or press n to see the notes from the compiler of this compilation"><a href="#"><span class="accesskey">n</span>otes from the compiler</a></h3>
<div id="notes" class="fact"><%= facts.notes %></div>

<h3 title="Click or press p to see the compilers of this compilation"><a href="#">com<span class="accesskey">p</span>iler</a></h3>
<div id="compiler" class="fact">
  <ul id="compiler_list">
    <% for(i = 0; i < facts.compiler.length; i++) { %>
        <li id="compiler_<%=i%>" class="compiler"><%= facts.compiler[i]%></li>
     <% } %>
  </ul>
</div>

<h3 title="Click or press f to see the date this compilation was started"><a href="#"><span class="accesskey">f</span>irst</a></h3>
<div id="first" class="fact"><%= facts.first %></div>

<h3 title="Click or press l to see the last this compilation was edited"><a href="#"><span class="accesskey">l</span>ast</a></h3>
<div id="last" class="fact"><%= facts.last %></div>

<h3 title="Click or press b to see the totals by sections of this compilation"><a href="#">totals <span class="accesskey">b</span>y section</a></h3>
<div id="totals_by_section" class="fact">
    <% for(i = 0; i < facts.books.length; i++) { %>
        <div><%= facts.books[i] %>=<%= facts.totals_by_section[facts.books[i]] %></div>
    <% } %>
</div>

<h3 title="Click or press t to see the total of quotes in this compilation"><a href="#"><span class="accesskey">t</span>otal</a></h3>
<div id="total" class="fact"><%= facts.total %></div>