<p>You appear to have been logged out probably due to a session timeout. Log in here for your compilation to be saved.</p>
<%= form_tag() %>
	<p><%= label_tag('Username:') %><%= input_field_tag('lgname', this.user, 'text') %></p>
	<p><%= label_tag('Password:') %><%= input_field_tag('lgpassword', '', 'password') %></p>
<%= form_tag_end() %>
