<div id="<%= section.id %>" class="<%= section.sec_class %>" sec_index="<%= section.sec_index %>" parent="<%= section.parent %>" text="<%= section.text %>">
  <h<%= section.level %>><%= section.text %></h<%= section.level %>>
</div>