<% for(var i=0; i<quotes.length; i++) { %>
    <div id="quote_<%= i %>" class="quote" index=<%= i %> >
    	<p><b><%= quotes[i].heading %></b></p>
        <p>
        	<a href='/wiki/index.php/<%= quotes[i].ref %>'>
        		<b><%= quotes[i].link2 %></b>
        	</a>: 
        	<% if (quotes[i].trans) { %>
        		<%= quotes[i].trans %>
        	<% } %>
        	<%if (quotes[i].purport) { %> 
        		<%= quotes[i].purport %>
        	<% } %>
        </p>
    </div>
<% } %>
