<div id="<%= quote.id %>" class="quote ui-widget-content ui-corner-all" parent="<%= quote.parent %>" book="<%= quote.book %>" index="<%= quote.index %>" link="<%= quote.link %>" link_text="<%= quote.link_text %>"></div>
