<%if (quote.link_text) { %>
	<div id="link_text" class="<%= edit_class %>" title="Click to change the link for this quote"><%= quote.link_text %></div><br/>
<% } %>
<div id="fix_link"><%= label_tag('Find link:') %><br/><input id="fix_link_input" /></div><br/>
<%if (quote.heading) { %>
	<%= label_tag('Heading:') %><br/><%= text_area_tag('heading', quote.heading)  %><br/>
<% } %>
<%if (quote.trans || quote.purport) { %>
	<%if (quote.trans) { %>
		<%= label_tag('Translation:') %><br/><%= text_area_tag('trans', quote.trans) %><br/>
	<% } %>
	<%if (quote.purport) { %>
		<%= label_tag('Purport:') %><br/><%= text_area_tag('purport', quote.purport) %><br/>
	<% } %>
<% } else { %>
	<%= label_tag('Text:') %><br/><%= text_area_tag('text', quote.text) %><br/>
<% } %>
<div id="edit_buttons">
	<input type="button" id="Update_quote" class="ui-state-default ui-corner-all" value="Update">
	<input type="button" id="Cancel_quote" class="ui-state-default ui-corner-all" value="Cancel">
</div>

<% if(quote.book == 'Lec' || quote.book == 'Con') { %>
	<span id="prabhupada_icon" title="Place the cursor in text to insert Prabhupāda: as the speaker and click here"></span>
<% } %>

<div id="diacritics">
	<p><b>Diacritics:</b>
		<a href="#">ā</a>
		<a href="#">Ā</a>
		<a href="#">ḍ</a>
		<a href="#">Ḍ</a>
		<a href="#">ḥ</a>
		<a href="#">Ḥ</a>
		<a href="#">ī</a>
		<a href="#">Ī</a>
		<a href="#">ḷ</a>
		<a href="#">Ḷ</a>
		<a href="#">ḹ</a>
		<a href="#">ṁ</a>
		<a href="#">Ṁ</a>
		<a href="#">ñ</a>
		<a href="#">Ñ</a>
		<a href="#">ṅ</a>
		<a href="#">Ṅ</a>
		<a href="#">ṇ</a>
		<a href="#">Ṇ</a>
		<a href="#">ṛ</a>
		<a href="#">Ṛ</a>
		<a href="#">ṝ</a>
		<a href="#">Ṝ</a>
		<a href="#">ś</a>
		<a href="#">Ś</a>
		<a href="#">ṣ</a>
		<a href="#">Ṣ</a>
		<a href="#">ṭ</a>
		<a href="#">Ṭ</a>
		<a href="#">ū</a>
		<a href="#">Ū</a>
	</p>
</div>
