<span>Choose a section for this quote</span><br/>
<%= check_box_tag('trans', 'Translation') %><%= label_tag('Translation') %><br/>
<%= check_box_tag('purport', 'Purport') %><%= label_tag('Purport') %><br/>
<%= check_box_tag('trans_purport', 'Translation and Purport') %><%= label_tag('Trans and Purport') %>
